#contenedorHeader {
  width: 1440px;
  height: 78px;
  left: 0px;
  top: 0px;

  background-color: #15B7B9;
}

#LogoJasai {
  width: 74px;
  height: 74px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.txt-FiltrarPrecio {
  position: absolute;
  width: 213px;
  height: 55px;
  top: -5px;
  left: 800px;
  border: rgb(0, 0, 0) 4px solid;
}

h2 {
  position: absolute;
  width: 96px;
  height: 55px;
  left: 12rem;
  top: 0px;
  /* h3 párrafo */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
